.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    gap: 3em;
    margin-top: auto;
}

.logo {
    width: 4em;
    height: 2em;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}